
<header>
  <h1>Dashboard</h1>
  
</header>
<div class="d-flex justify-content-center pb-3">
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX889U0CL85jj?theme=0" width="25%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<div id="container">
  
  <button id="btn">Press for a new quote </button>
  <div id="output">Press button to generate a quote </div>
</div>
<div class="notes">

 <section class="indent-1">
    <!-- Section 1 -->

    <section id="note-title">
      <div class="list-group-item">
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-horizontal-xl"
        ><i class="fas fa-search" id="search"></i><input
            type="text"
            id="myInput"
            onkeyup="myFunction()"
            placeholder="Search"
          /></a>
        {{#if posts.length}}
        <ul id="myUL">
          {{#each posts as |post|}}
          <li class="list-item-note-id" data-note-id={{post.id}}>
            <a
              href="/dashboard/edit/{{post.id}}"
              class="list-group-item list-group-item-action list-group-horizontal-xl"
            >{{post.title}}
            </a>
            <span>
              {{!-- <button onclick="shareNote()"  style="background-color: #7b7a76">Share</button>
              <a  href="/dashboard/edit/{{post.id}}" id="edit-post" class="edit-post" data-post-id={{post.id}} style="background-color: #7b7a76">Edit</a> --}}
              
              {{!-- <button onclick="deleteNote()" class="delete-post" style="background-color: #7b7a76">Delete</button> --}}
            </span>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>

    </section>

    <!-- Section 2 -->
    <section id="create">
      <div class="col-sm">
        <div class="card" style="width: 42rem; opacity: 95%">
          <div class="card-body" id="your-notes">
            <div class="mb-3">
              <label for="post-title" class="form-label">Create a
                New Note</label>
              <input
                type="text"
                class="form-control"
                id="post-title"
                name="post-title"
                placeholder="Title"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 42rem; opacity: 95%">
          <div class="card-body">
            <div class="mb-3">
              <label
                for="post-text"
                class="form-label"
              ></label>
              {{!-- <div class="sample-toolbar">
                <a href="javascript:void(0)" onclick="format('bold')"><span
                    class="fa fa-bold fa-fw"
                  ></span></a>
                <a href="javascript:void(0)" onclick="format('italic')"><span
                    class="fa fa-italic fa-fw"
                  ></span></a>
                <a
                  href="javascript:void(0)"
                  onclick="format('insertunorderedlist')"
                ><span class="fa fa-list fa-fw"></span></a>
              </div> --}}

              {{!-- <div class="editor" id="sampleeditor"></div> --}}
              <div class="form-group">
             
                <label for="post-text"></label>
                <textarea class="form-control" id="post-text" rows="5"></textarea>
              </div>
            </div>
            {{!-- <style type="text/css">
        #htmlEditor {
            margin-bottom: 10px;
        }
        #feedback 
        {
            padding-left: 10px;
            color: Red;
        }
        span.ui-icon.ui-icon-insert-email
        {
            background-image: url("/images/samples/html-editor/ui-icons_222222_256x240.png")!important; 
            background-position: -192px -128px;
        }
		/* Override sample's browser styles */
    	#htmlEditor h1, #htmlEditor h2, #htmlEditor h3, #htmlEditor h4, #htmlEditor h5, #htmlEditor h6 { margin: 0px; }
    	#htmlEditor h1 { font-size: 1.9em; }
		#sampleContainer { overflow: visible; }
    </style>

    <!--igHtmlEditor target element-->
    <div id="htmlEditor" class="form-control form-group" id="post-text"></div>

    <script>
        $(function () {
            var height = $('html').hasClass('touch') ? 500 : 350;
            // initialize igHtmlEditor
            var htmlEditor = $("#htmlEditor").igHtmlEditor({
                width: "99%",
                height: height,
                inputName: "htmlEditor",
                customToolbars: [
                {
                    name: "EmailSignature",
                    collapseButtonIcon: "ui-igbutton-collapse",
                    expandButtonIcon: "ui-igbutton-expand",
                    items: [{
                        name: "appendSignature",
                        type: "button",
                        handler: appendSignature,
                        scope: this,
                        props: {
                            isImage: {
                                value: false,
                                action: '_isSelectedAction'
                            },
                            imageButtonTooltip: {
                                value: "Insert e-mail signature",
                                action: '_tooltipAction'
                            },
                            imageButtonIcon: {
                                value: "ui-icon-insert-email",
                                action: '_buttonIconAction'
                            }
                        }
                    }]
                }]
            });
        });

        function appendSignature(ui) {
            var currentContent = $("#htmlEditor").igHtmlEditor("getContent", "html");
            var signature = "<p>Best regards,<br/>John Doe<br/>Acme Corp<br/>555-1111</p>";
            $("#htmlEditor").igHtmlEditor("setContent", currentContent + signature, "html");
        }
    </script> --}}
            <button class="post-btn" id="create-post">Create</button>
            {{!-- <button class="post-btn" id="delete-post">Delete</button> --}}
            {{!-- <button class="post-btn" id="save-post">Save</button> --}}
          </div>
        </div>
      </div>
    </section>
  {{!-- </section>
</div> --}}
<script src="/javascript/dashboard.js"></script>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
